<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<section >
	<h1></h1>
	<%# ログイン中は見えないようにする%>
	<div>
		<% if current_user.nil? %>
		    <form class="col-lg-5" action="/signin" method="post">
		        <div class="controls">
		            <div class="form-group">
		                <input class="form-control input-lg" name="name" placeholder="ユーザー名">
		                <input class="form-control input-lg" name="password" type="password" placeholder="パスワード">
		                <input class="form-control " type="submit" value="ログイン">
		            </div>
		                
		        </div>
		    </form>
	    <% end %>
	</div>
</section>
<body>
	<h2>人気映画</h2>
		    <div class="center-hrizontal">
				<% @movies.each do |movie| %>
					<div class="post center-vertical">
						<img src="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>">
						<p><%= movie["release_date"]%></p>
						<p><%= movie["title"]%></p>
					
						<!--<a href="<#%= movie["previewUrl"]%>">サンプル</a>-->
					</div>
				<% end %>
			</div>
</body>
</html>
