<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<section >
	<h1></h1>
	<%# ログイン中は見えないようにする%>
	<div class="center-hrizontal">
		<% if current_user.nil? %>
			<p></p>
			<div id="ajaxreload">
				<p></p>
				<h3 class="center-vertical">ログイン</h3>
			    <form  action="/signin" method="post">
			        <div class="controls">
			            <div class="form-group">
			                <input class="col-xs-4 input-lg" name="name" placeholder="ユーザー名"><br>
			                <input class="col-xs-4 input-lg" name="password" type="password" placeholder="パスワード"><br>
			                <input class="form-control btn-flat-border"  type="submit" value="ログイン">
			            </div>
			            
			          	<form>
		    				<input class="signup btn-flat-border form-control" type="button" value="新規登録はこちら" >
		    			</form>
			        </div>
			    </form>
		    </div>
		    <p></p>
	    <% end %>
	    <script src="js/signup.js"></script>
	</div>
</section>
<body>
	<p></p>
	<h2 class="center-hrizontal">人気映画</h2>
		    <div class="center-hrizontal">
				<% @movies.each do |movie| %>
					<div class="post pop center-vertical">
						<img src="https://image.tmdb.org/t/p/w185<%= movie["poster_path"]%>">
						<p><%= movie["release_date"]%></p>
						<p><%= movie["title"]%></p>
					
						<!--<a href="<#%= movie["previewUrl"]%>">サンプル</a>-->
					</div>
				<% end %>
			</div>
</body>
</html>
