<body>
    <div class="post center-vertical">
		<img src="<%= @movie.jacket%>">
		<p><%= @movie.title%></p>
		<p><%= Date.parse(@movie.release.to_s)%></p>
		<!--<a href="<#%= movie["previewUrl"]%>">サンプル</a>-->
	</div>
    
    <h2>どちらに追加をするのか選択</h2>
    <form  action="/new/post/task" method="get">
        <input type="submit" value="観る予定の作品">
    </form>
    <form  action="/new/post/history" method="get">
        <input type="submit" value="観た作品">
    </form>
    
</body>