<%if @num==1%> 
    <div id="ajaxreload" >
        <p></p>
        <h3 class="center-vertical">新規登録</h3>
        <% if @password.present? %>
            <h4>2つとも同じパスワードを入力してください</h4>
        <%end%>
        <%if session[:name_dup]!=nil%>
            <h4>そのユーザー名は既に存在しています</h4>
        <%end%>
        <form   action="/signup" method="post" enctype="multipart/form-data"><%# enctype属性でファイル送信を可能に%>
            <div  style="text-align:center">
                    <input class="col-xs-6 input-lg" name="name" placeholder="ユーザー名" required><br><!--placeholderはフォーム内に文章-->
                    <!--<input name="mail" placeholder="メールアドレス"><br>-->
                    <input class="col-xs-6 input-lg" name="password" type="password" placeholder="パスワード" required><br>
                    <input class="col-xs-6 input-lg"  name="password_confirmation" type="password" placeholder="パスワードをもう一度入力" required><br>
                    <!--<input  name="file" type="file">-->
                    <input class="btn-log btn-flat-border" type="submit" value="新規登録">
            </div>
        </form>
        <p></p>
      	<form class="center-vertical">
    		<input class="signin btn-flat-border btn-log" type="button" value="ログインはこちら" >
    	</form>
    	<script src="js/signin.js"></script>
    </div>
<%else%>
    <div id="ajaxreload">
				<h3 class="center-vertical">ログイン</h3>
				
			    <form  action="/signin" method="post">
			        <div class="controls">
			            <div class="form-group">
			                <input class="col-xs-4 input-lg" name="name" placeholder="ユーザー名"><br>
			                <input class="col-xs-4 input-lg" name="password" type="password" placeholder="パスワード"><br>
			                <input class="form-control btn-flat-border"  type="submit" value="ログイン">
			            </div>
			            
			          	<form>
		    				<input class="signup btn-flat-border form-control" type="button" value="新規登録はこちら" >
		    			</form>
			        </div>
			    </form>
	    </div>
	    <p></p>
	    <script src="js/signup.js"></script>
<%end%>