<div class="center-vertical" >
    <form   action="/signup" method="post" enctype="multipart/form-data"><%# enctype属性でファイル送信を可能に%>
        <div  style="text-align:center">
            <div >
                <h2>新規登録</h2>
                <%if session[:name_dup]!=nil%>
                    <h2>そのユーザー名は既に存在しています</h2>
                <%end%>
                <input  name="name" placeholder="ユーザー名"><br><!--placeholderはフォーム内に文章-->
                <!--<input name="mail" placeholder="メールアドレス"><br>-->
                <input  name="password" type="password" placeholder="パスワード"><br>
                <input  name="password_confirmation" type="password" placeholder="パスワードをもう一度入力"><br>
                <input  name="file" type="file">
            </div>
            <div >
                <input  type="submit" value="新規登録">
            </div>
        </div>
    </form>
</div>